# Virtual environment
.venv/

# Python
__pycache__/
*.pyc

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# OS
.DS_Store
Thumbs.db

# Data
data/processed/

# Streamlit
.streamlit/secrets.toml

# Generated SQLite warehouse
warehouse/*.db